 * {

  /*  margin: 0;
   padding: 0; */
 }

 body {
    background-color: #C8D3D5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    

 }
 header {
    background-color: #476C9B;
    text-align: center;

 }

 .pages {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center

 }

 .pages > h3 {
    margin: 1rem
 }


 img {
    max-width: 10rem;
    margin: 1rem;
 }

 section{
   /*  border: 1px black solid */
 }

 button {

   border-style: inherit;
   background-color: rgb(154, 255, 81);
   padding: 1rem 2rem;
   border-radius: 10px;
   font-size: 1rem
   
 }