 * {

  /*  margin: 0;
   padding: 0; */
 }

 body {
    background-color: #C8D3D5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
 }

 main {
    margin: 0.8rem
 }


 header {
    color: white;
    background-color: #476C9B;
    text-align: center;
 }

 ul {

   list-style-type: none;

 }

 ul li {

   display: inline-block;
   padding: 1rem
 }

 h2,h3 {
   margin: 1rem
}
 h1 {
    font-size: 2rem;
    padding: 1rem
 }

 h2 {
    font-size: 1.5rem
   }

 h3{
    font-size: 1.3rem
   }


 .pages {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center

 }

 p{
    margin: 1rem
   }


 img {
    max-width: 10rem;
    margin: 1rem;
 }

 section{
   /*  border: 1px black solid */
 }

 a {
   text-decoration: inherit;
   background-color: rgb(154, 255, 81);
   padding: 1rem 2rem;
   border-radius: 10px;
   font-size: 1rem;
   cursor: pointer;
   color: black;
   display: inline-block
 }

 footer {
    padding: 1rem;
   color: white;
   background-color: #476C9B;
   text-align: center;
}

@media (min-width: 800px) {

   /* .multipages {

      display: flex;
   } */

   .pages {
      margin: 0.5rem 15vh
   }

   .pages div {

      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 0.5rem 10vh

   }


}

@media (min-width: 1024px) {

   .multipages {

      display: flex;
   }

   .pages {
      margin: 0.5rem;
      display: flex;
   }

   .pages div {

      margin: inherit;
      display: flex;
    flex-direction: column;
    align-items: center
   }


}